{% extends 'booking/layout.html' %}

{% block body %}

<main class="container login main-pad">
    {% if messages %}
        {% for message in messages %}
        <div class="message">{{message}}</div>
        {% endfor %}
    {% endif %}
    <section class="seccion_login">
        <h2>Iniciar Sesión</h2>
        <form class="login-form" action="" method="post">   
            {% csrf_token %}     
            <input autofocus class="form__field main-margin" type="text" name="username" placeholder="Nombre de usuario">
            <input class="form__field main-margin" type="password" name="password" placeholder="Contraseña">
            <input type="hidden" name="next" value="{{request.GET.next}}"/>
            <input class="btn" type="submit" value="Iniciar sesión">
        </form>
            ¿Aún no tienes una cuenta? <a href="{% url 'register' %}">Regístrate aquí.</a>
    </section>

</main>
{% endblock %}
